In [32]:

def SQLRuns(tgt,kin,suf):


    ##########################################
    H3  = ["Tritium" ,"T", "T3", "H3" ]
    D2  = ["Deuterium","D2", "D", "H2" ]
    H   = ["Hydrogen","H1", "H" ]
    He3 = ["Helium-3","Helium","He3"]
    if tgt in H3 :
         TGT = H3[0]
    if tgt in D2 :
         TGT = D2[0]
    if tgt in H :
         TGT = H[0]
    if tgt in He3 :
         TGT = He3[0]

    tgt=TGT
    #########################################        
    if suf == 'all':
        suf='%'
    if suf != 'i%':
        suf = suf + '%'
        
        Like='= "{}"'.format(kin)
    if int(kin) >= 7:
        Like= 'like "{}/_{}" ESCAPE "/"'.format(kin,suf)
    #############
    import mysql.connector
    db_user= 'triton-user'
    db_pswd= '3He3Hdata'
    db_name= 'triton-work'
    db_host= 'halladb'
    print("check!!!", Like)
    cnx = mysql.connector.connect(user=db_user,host=db_host,database=db_name, password=db_pswd)
    cursor = cnx.cursor(buffered=True)
    query1 = 'select run_number from MARATHONrunlist where (Kinematic {}) and target="{}" order by run_number asc'.format(Like,tgt)

    print(query1)

    query = 'select run_number from MARATHONrunlist where Kinematic = "{}" and target="{}" order by run_number asc'.format(kin,kin,tgt)
    cursor.execute(query1)
    results= cursor.fetchall()
    rl={}
    for i,row in enumerate(results):
        rl[i]=(row[0])
    return rl
    ####################

In [30]:
SQLRuns("H3",'1','all')

= "1"
select run_number from MARATHONrunlist where (Kinematic = "1") and target="Tritium" order by run_number asc

{0: 1215, 1: 1216, 2: 1224, 3: 1225}