In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))
import pandas as pd
import matplotlib.pyplot as plt
import os,sys
import glob
import numpy as np
from numpy import *
import scipy
from scipy import interpolate

from scipy.interpolate import make_interp_spline, BSpline

sys.path.append('/home/jbane/headers')
import SQLFuncs as SQLF
import seaborn as sns


plt.style.use('seaborn-white')

plt.rcParams['font.family'] = 'DejaVu Sans'
plt.rcParams['font.serif'] = 'Ubuntu'
plt.rcParams['font.monospace'] = 'Ubuntu Mono'
plt.rcParams['font.size'] = 10
plt.rcParams['axes.labelsize'] = 10
plt.rcParams['axes.labelweight'] = 'bold'
plt.rcParams['axes.titlesize'] = 10
plt.rcParams['xtick.labelsize'] = 8
plt.rcParams['ytick.labelsize'] = 8
plt.rcParams['legend.fontsize'] = 10
plt.rcParams['figure.titlesize'] = 12

In [2]:
def total_eff(tgt,kin,suf):
    runlist=SQLF.SQLRuns(tgt,kin,suf)
    corl=[]
    luml=[]
    totlum=0
    totf=0
    werr=0
    print(runlist)
    for i in runlist:

        run=runlist[i]
        cor,corerr,corDF=SQLF.get_runcor(run)
        lum,lumerr=SQLF.Calc_Lum(run)
        corl.append(cor)
        luml.append(lum)
        werr = werr + corerr*lum

        totlum=totlum+lum
        totf=cor*lum + totf
        print(run,totf/totlum , corerr,  werr/totlum)
    return totf/totlum, werr/totlum

In [3]:
total_eff("C12","1","all")

{0: 1207}
1207 0.9642313318041922 0.039265216948337366 0.039265216948337366

(0.9642313318041922, 0.039265216948337366)

In [4]:
corDF

NameError: name 'corDF' is not defined

In [5]:
SQLF.ECC("D2","7
         ")

SyntaxError: EOL while scanning string literal (<ipython-input-5-2a1fa9a498b0>, line 1)

In [6]:
    filen="/home/jbane/Documents/ECC_table.csv"
    ECCdf=pd.read_csv(filen)

In [7]:
ECCdf

    Unnamed: 0       H3       He3        D2        H
0            0  0.02342  0.027100  0.018600  0.02922
1            1  0.02185  0.025120  0.011380  0.02380
2            2  0.02028  0.022940  0.010200  0.02090
3            3  0.01630  0.018390  0.008206  0.01780
4            4  0.01540  0.017270  0.009348  0.01760
5            5  0.01445  0.015738  0.008640      NaN
6            7  0.01177  0.012500  0.008310      NaN
7            9  0.00900  0.009740  0.005700      NaN
8           11  0.00690  0.007150  0.005121      NaN
9           13  0.00550  0.005723  0.003790      NaN
10          15  0.00430  0.004497  0.002765      NaN
11          16  0.00320  0.003272  0.002686      NaN

In [8]:
tgt="D2"
kins=["1","2","3","4","15"]

for kin in kins:
    
    filen="/home/jbane/Documents/ECC_table.csv"
    ECCdf=pd.read_csv(filen)
    ECCdf=ECCdf.fillna(1)
    ECCdf=ECCdf.rename(index=str, columns={"Unnamed: 0":"Kin"})
    ECCf=ECCdf[tgt][ECCdf["Kin"]==int(kin)]
    a=ECCf[0]
    print(kin,a)

1 0.01138
2 0.0102
3 0.008206
4 0.009348
15 0.0027649999999999997

In [9]:
ECCdf['D2'][ECCdf["Kin"]==3]

3    0.008206
Name: D2, dtype: float64

In [10]:
ECCf[0]

0.0027649999999999997

In [11]:
SQLF.PC("C12",0.22)

(0.0, 0.0)